<div id="embed-wrapper-div">
	<embed src="/tests/video_test/webcam.swf"
	   data-stream-name="{{stream_name}}"
       flashvars="server={{send_url}}"
	   id="embed-element-video-stream-send"
       bgcolor="#ffffff"
       quality="high"
       allowScriptAccess="always"
       type="application/x-shockwave-flash"
       pluginspage="http://www.macromedia.com/go/getflashplayer" />
</div>