<div class="to-chat-wrapper-div">
	<div class="to-chat-div">
		<div class="chat-text-history">
			<span>{{message_details.message}}</span>
		</div>
		<img src="{{photo}}" />
	</div>
	<span class="chat-message-timestamp">{{message_details.creation_time}}</span>
</div>